:root {
    --main-text-color: white;
}

html {
    height: 100%;
}

body {
    background-color: rgb(17, 30, 70);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
}

footer {
    margin-top: auto;
}

.book-form {
    width: 100%;
    height: 350px;
    border: 1px solid rgb(0, 199, 182);
}

.book-shelf {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.book-shelf .shelf {
    width: 100%;
    height: 30px;
    border: 1px solid white;
}

.book-shelf .books{
    width: 100%;
    height: 450px;
    border: 1px solid rgb(199, 0, 0);
}